## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

### Ans:
### Values :

"hello" - String 

-87.8 - Floating point 

6 - Integer

### Expressions :
  +, - , * , /  -  Arithmetic operators

## 2. What is the difference between string and variable?

### Ans:
A Variable is a symbolic name which is used to store informations so that we can able to use it whenever we want.

A String is a type of information you would store in a Variable.   A String is a group of characters or a single character
usually enclosed in Double quotes " " or Single quotes '  '.

### Example:
X = "Welcome to INEURON"

Here, X is a variable name. 
     
     "Welcome to INEURON" is a string.

## 3. Describe three different data types.

### Ans:
Three fundamental data types in Python : int , float , complex.

#### 1.int data type: 
We can use int data type to represent whole numbers,positive or negative numbers with no decimal point.

#### 2.float data type: 
We can use float data type to represent floating point values (decimal values).

#### 3.complex data type: 
Complex number is represented by complex class. It consists of two parts: (real part) + (imaginary part)j.

In [13]:
# Examples of datatypes
a = 5
print(type(a)) # integer
b = 3.14
print(type(b)) # float
c = 2+3j
print(type(c)) # complex

<class 'int'>
<class 'float'>
<class 'complex'>

## 4. What is an expression made up of? What do all expressions do?

### Ans:
An expression is a combination of values, variables, operators and functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [14]:
# example

10*5-20+30  # interpreter evaluates the expression and gives the output.

60

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

### Ans:
#### Expression:
An expression is a combination of values, variables, operators and functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.
#### Statement:
A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

In [12]:
#Examples:
10*5-20+30 # it is a Expression
Name = "Ineuron" # it is a assignment statement.
print("Hello World !") # it is a Expression Statement .it will print whatever we type.

Hello World !

## 6. After running the following code, what does the variable bacon contain?
 bacon = 22
 
 bacon + 1

### Ans:
The variable bacon value is set to 22 .The expression bacon + 1 does not reassign the value in bacon that would be the case if the expression is like bacon = bacon + 1 instead of bacon + 1.

In [15]:
# Example Case#1
bacon=22
bacon+1     # it would be the same value
print(bacon)

22

In [16]:
#Example Case#2
bacon=22
bacon=bacon+1 
print(bacon)

23

## 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;

&#39;spam&#39; * 3

### Ans:
Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication.

In [17]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

### Ans:
As per python,Variable names cannot begin with a number. 

eggs is valid variable name because Variable name can start with a letter or the underscore character.But 100 is invalid because variable name cannot be a number or begin with a number.

In [20]:
egg='Hello' # Valid variable Initilization
print(egg) #prints the value of egg ie Ineuron

Hello

In [21]:
100='Hello' # Invalid Variable Initilization
print(100)

SyntaxError: cannot assign to literal (3213567842.py, line 1)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

### Ans:

The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them

In [22]:
# Examples:
print('int(9.0) -> ',int(9.0)) # int() function converts given input to int
print('float(9) -> ',float(9)) # float() function converts given input to float
print('str(9) -> ',str(9)) # str() function converts given input to string

int(9.0) ->  9
float(9) ->  9.0
str(9) ->  9

## 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

### Ans:
The error is caused due to the integer value. Integer value cannot be concatenated with strings. We can fix this by converting the int value to string

In [23]:
print('I have eaten' + 99 + 'burritos')     # 99 is an integer so it cant be conacatenate with string

TypeError: can only concatenate str (not "int") to str

In [25]:
print('I have eaten' + ' 99 ' + 'burritos') # Converting integer into string(typecasting)

I have eaten 99 burritos